
*{
    margin: 0;
    padding: 0;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img{
    width: 300px;
    height: fit-content;
}

.content{
    background-color: blue;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#not{
    background-color: red;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    color: wheat;
}


#yes{
    background-color: rgb(28, 237, 28);
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    color: rgb(253, 249, 249);
}